/* #003f5c, #58508d, #bc5090, #ff6361, #ffa600, #805300, #c0a980, #8097c0, #c08097 #97c080. */

.App {
  text-align: center;
  padding: 24px;
  padding-bottom: 72px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.temperature-chart-container {
  padding: 18px 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .temperature-chart-container {
    display: none;
  }
}

.settings-drawer-container {
  min-height: 35vh;
  max-height: 70vh;
  padding: 24px;
  overflow-y: scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.highcharts-credits {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
